# Go build

/bin/
/build/
/dist/
/out/
/*.exe
/*.exe~
/*.dll
/*.so
/*.dylib
*.test
*.out
/go.sum~

# Configuración local / secretos
.env
.env.*
config/.env
config/.env.local

*.key
*.pem


# Air (live reload)
.air
config/.air.toml
tmp/

# IDE 
.vscode/
.idea/
*.swp
*.swo
*.log